<dialog open>
    <article>
        <form method="dialog" hx-on::after-request="this.reset()">
        <header>
            <button aria-label="Close" rel="prev"></button>
            <h1 id="CreateEventLabel" th:text="${event.id}? 'Edit Event' : 'Create Event'"></h1>
        </header>
            <fieldset>
                <label>Title
                    <input autoFocus name="title" id="title" type="text" th:value="${event.title}"/>
                </label>
                <label>Date/Time
                    <input autoFocus name="dateTime" id="dateTime" type="datetime-local" th:value="${event.dateTime}"/>
                </label>
                <label>Location
                    <input autoFocus name="location" id="location" type="text" th:value="${event.location}"/>
                </label>
                <label>Guests
                    <input autoFocus name="guests" id="guests" type="number" th:value="${event.guests}"/>
                </label>
            </fieldset>
            <footer>
                <button class="secondary" hx-reset>Close</button>
                <button autoFocus class="primary" th:if="${event.id == null}" hx-post="/events" hx-ext="json-enc" hx-target="#modal-content" hx-swap="innerHTML">Create</button>
                <button autoFocus class="primary" th:if="${event.id}" th:hx-put="|/events/${event.id}|" hx-ext="json-enc" hx-target="#modal-content" hx-swap="innerHTML">Update</button>
            </footer>
        </form>
    </article>
</dialog>
