<!DOCTYPE html>
<html lang="en" xmlns:hx-on="http://www.w3.org/1999/xhtml" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
        <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.min.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/json-enc.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/sse.js"></script>
        <title>HTMX App</title>
    </head>

    <body>
        <main class="container">
            <div hx-ext="sse" sse-connect="/sse">
                <button role="button" hx-get="/events/new" hx-target="#modal-content" hx-swap="innerHTML">
                    New Event
                </button>
                <div class="modal-content" id=modal-content></div>
                <table class="striped">
                    <thead>
                    <tr>
                        <th scope="col">Event</th>
                        <th scope="col">Date/Time</th>
                        <th scope="col">Location</th>
                        <th scope="col">Guests</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody id=event-data hx-get="/events" hx-trigger="load, sse:event" class="MuiTableBody-root"/>
                </table>
            </div>
        </main>
    </body>
</html>
